#home img{
    height:200px;
    width:200px;
    border area=50%;
    }
    #portfolio{
        background-color: blanchedalmond;
    }
    footer{
        background-color: azure;
        height:350px;
        
    }
    footer p{
        background-color: blueviolet;
        padding:10px;
    }